<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiamu.publisher.mapper.TestSumMapper">
    <select id="Sum"  resultMap="resultSumMap">
        select uid ,count(1) a from `order_info`
        where dt &gt;= #{start_Date}  and dt &lt; #{end_Date}
        group by uid
    </select>
    <resultMap id="resultSumMap" type="java.util.Map" autoMapping="true">
    </resultMap>

</mapper>
