<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiamu.publisher.mapper.UserBakMapper">
    <select id="select" resultType="com.xiamu.publisher.bean.User">
        SELECT
        id,
        name,
        email,
        create_time createtime ,
        update_time updatetime,
        status
        from u1_bak where id=#{id} and status='encrypt'
    </select>
    <delete id="delete" parameterType="string">
       delete from u1_bak where id=#{id} and status='encrypt'
    </delete>
    <insert id="insert" parameterType="com.xiamu.publisher.bean.User">
        insert into u1_bak
        (id,
        name,
        email,
        create_time,
        update_time,
        status)
        VALUES
        (#{id},
        #{name},
        #{email},
        #{createtime},
        #{updatetime},
        #{status}
        )
    </insert>
    <!-- -->
    <select id="getUser" resultType="com.xiamu.publisher.bean.User">
        SELECT
          id,
        name,
        email,
        create_time createtime ,
        update_time updatetime,
        status
        from u1_bak where id=#{id} and status='0'
    </select>
</mapper>